.PasswordGateImage-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.PasswordGateImage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 320px;
}

.PasswordGateGroup {
    min-width: 320px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.PasswordGateImage-Open {
    background-image: url("../../assets/body-guard-open.jpg");
}

.PasswordGateImage-Close {
    background-image: url("../../assets/body-guard-closed.jpg");
}

.PasswordGateImage-Bug {
    background-image: url("../../assets/bugImage.PNG");
}

.PasswordGateInput {
    width: 100%;
    font-size: 20px;
}